# Mac OSX system files
.DS_Store
.localized

# In case files are copied from SVN
.svn/

# Maven build files
**/target/

# Temporary files
*~

# Log files
**/*.log

# Java artifacts
**/*.class
**/*.jar
**/*.war
**/*.ear

# IntelliJ
**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/*.rdb

# docker-flow will complain about untracked files without these
zookeeper.out
.repository/
repository/
tmp/
temp/

jmh.out